*.iml
.gradle
/local.properties
/.idea/
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/caches
.DS_Store
/build
/buildSrc
/captures
.externalNativeBuild
buildSrc/build
buildSrc/.gradle
